*{
    margin:auto;
}
body{
    text-align:center;
    background-position:center;
    background-size:cover;
    background-repeat: none;
    font-size: larger;
    }
    input{
    border-radius:6px;
    padding:8px;
        }
.split1{
    text-align:center;
    padding-top:20px;
    padding-bottom: 20px;
    min-height: 50vh;
    width:50%;
    border: 4px solid rgba(27, 26, 26, 0.685);
    border-radius:14px;
    background-color:rgba(125, 110, 91, 0.476);
}
.split2{
    padding:35px;
}
